.navbar {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    margin-bottom: -100px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.59);
    backdrop-filter: blur(5px);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.nav_menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    background-color: transparent;
}


.nav_menu li {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    position: relative;
}

.nav_menu li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #f593b5;
    transition: width 0.3s ease-in-out;
}

.nav_menu li:hover::after {
    width: 100%;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-media-link img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-media-link img:hover {
    transform: scale(1.2);
}
