.tooltip-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 0.55rem;
    transition: all 0.3s ease;
    border-radius: 0.7rem;
    border-color: #f593b5;
    box-shadow: 2px -2px 0px rgb(245, 147, 181);
    position: relative;
}

.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.1rem;
    height: 1.1rem;
    text-decoration: none;
    color: inherit;
}

.tooltip-text {
    position: absolute;
    opacity: 0;
    transform: translateY(0);
    transition: opacity 0.7s ease, transform 0.7s ease;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    font-size: 0.875rem;
    color: #343333;
    padding: 10px 10px;
    border-radius: 4px;
    pointer-events: none;
    white-space: nowrap;
    z-index: 10;
}

.tooltip-wrapper:hover .tooltip-text {
    opacity: 1;
    transform: translateX(-50%) translateY(-7px);
}

.tooltip-icon:hover {
    color: #0077b5;
}

.tooltip-icon img {
    width: 100%;
    height: auto;
    display: block;
}